In [25]:
#알고리즘 연관규칙분석
dataset = [
    ['Milk', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
    ['Coke', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
    ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
    ['Milk', 'Orange', 'Corn', 'Beans', 'Yogurt'],
    ['Corn', 'Cookie', 'Cookie', 'Beans', 'Ice cream', 'Eggs']
]

In [26]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [27]:
te = TransactionEncoder()

In [28]:
te_ary = te.fit(dataset).transform(dataset)

In [29]:
df = pd.DataFrame(te_ary, columns = te.columns_)

In [30]:
df

,Apple,Beans,Coke,Cookie,Corn,Eggs,Ice cream,Kidney Beans,Milk,Orange,Yogurt
0,True,True,False,True,False,True,False,False,True,False,True
1,True,True,True,True,False,True,False,False,False,False,True
2,True,False,False,False,False,True,False,True,True,False,False
3,False,True,False,False,True,False,False,False,True,True,True
4,False,True,False,True,True,True,True,False,False,False,False

In [31]:
import mlxtend
from mlxtend.frequent_patterns import apriori

In [33]:
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True)
frequent_itemsets

    support               itemsets
0       0.6                (Apple)
1       0.8                (Beans)
2       0.6               (Cookie)
3       0.8                 (Eggs)
4       0.6                 (Milk)
5       0.6               (Yogurt)
6       0.6          (Eggs, Apple)
7       0.6        (Beans, Cookie)
8       0.6          (Beans, Eggs)
9       0.6        (Beans, Yogurt)
10      0.6         (Eggs, Cookie)
11      0.6  (Eggs, Beans, Cookie)